.itemContainer {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.itemContainer img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

.itemContainer .btn {
  width: 200px;
}

.itemInformationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
